
{% if number_list == '1' %}
 <span class ='smplayall'> {{ count }} <a href="{{url}}"  >  <span class="label">{{fname}}</span></a></span>
{% else %}
  <span class ='smplayall'><a href="{{url}}"  >  <span class="label">{{fname}} </span></a></span>
{% endif %}
